body {
    margin: 0;
}
 

    /* *************start margin ************** */
    /* Adding content size, padding and border to get the acqurate size of the image */

/* .top-container{
    background-color: #e8ffff;
    height: 200px;
    width: 200px;
    padding: 20px;
    border: solid 10px;
    border-color: #000000;
}

h1{
    margin-top: 0px;
}

.middle-container{
    background-color: #a6f6f1;
    height: 200px;
    width: 200px;
    border: solid 20px;
    margin-left: 260px;
}


.bottom-container{
    background-color: #41AEA9;
    height: 200px;
    width: 200px;
    border:solid 10px;
    margin-left: 500px;
} */

    /* *************end margin ************** */

 /* ************* Positioning relative & absolute start ************** */
 /* Relative position maintain the ghost position of the image or content while absolute change
 change the flow of the document by taking the image away from it original postion as 
 if it does not exist there before and can also be move around its parent element 
 which is the body in most cases
 NOTE: the parent of the element is the closest to the child of the element.
 parent, child and children are closest to one another.
 Fixed to its position and relative to the body of the website
 */
.red {
    background-color: red;
    height: 100px;
    width: 100px;
    /* display: inline-block;
    position: relative;
    left: 200px; */
    position: absolute;
    left: 200px;
    top: 200px;

}

.blue {
    background-color: blue;
    height: 100px;
    width: 100px;
   
    /* display: inline-block;
    position: relative;
    right: 100px; */
    

    position: absolute;
    left:100px;
    top: 100px;
}

.yellow {
    background-color: yellow;
    height: 100px;
    width: 100px;
    /* display: inline-block;
    position: relative;
    right: 100px; */
}

    /* *************end here Positioning relative & absolute ************** */
